.tabs {
    font-size: 0;
    margin: 25px 0;
    max-width: 800px;
    max-width: 50rem;
}

.tabs:after {
    clear: both;
    content: '';
    display: table;
}

.tabs .tab {
    display: inline;
}

.tabs .tab-label {
    background: #eee; 
    border: 1px solid #ccc; 
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
    left: 1px;
    margin-left: -1px;
    padding: 10px; 
    position: relative;
    vertical-align: bottom;
}

.tabs .tab > [type="radio"] {
    clip: rect(0 0 0 0);
    height: 1px;
    opacity: 0;
    position: fixed;
    width: 1px;
    z-index: -1;
}

.tabs .tab-panel {
    display: inline;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 0;
}

.tabs .tab-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: white;
    padding: 0 20px;
    border: 1px solid #ccc;
    float: left;
    font-size: 16px;
    font-size: 1rem;
    margin-top: -1px;
    width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
    display: inline;
}



html {
    background: #444;
    font-family: 'Segoe UI', 'Verdana', 'Tahoma', 'Arial', 'Helvetica', sans-serif;
}

body {
    background: #F9F6EE;
    padding: 1em;
}

hr {
    background: #444;
    border-top: solid #666;
    border-width: 1px 0 0;
    height: 0;
}

label {
    cursor: pointer;
    display: inline-block;
}

.settlers2-map {
    background: #fff url('./water-0.png');
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    vertical-align: top;
}

.settlers2-map--wasteland {
    background-image: url('./water-1.png');
}

.settlers2-map--winter-world {
    background-image: url('./water-2.png');
}

.map-view-container,
.tab section {
    background: #eee;
    display: inline-block;
    margin: 0.25em 0;
    padding: 0.5em 1em;
    position: relative;
    vertical-align: top;
    z-index: 0;
}

header {
    margin: 0.25em 0;
    font-size: 1.5em;
    font-weight: bold;
}

.map-view-container ul,
.tab ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

dl {
    margin: 0;
}

.tab li {
    background: #f6f6f6;
    border: 1px solid #ddd;
    margin: 0.25em;
    padding: 0.75em;
}

li > small {
    display: block;
    padding: 0.5em 0;
}

input[type="number"] {
    width: 5em;
}

button {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em;
}

.player-positions {
    border: 1px solid #000;
    display: inline-block;
    margin: -1px;
    overflow: hidden;
    position: relative;
}

.player-position {
    background: rgba(96, 128, 160, 0.5);
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px white,
        0 0 5px white;
    height: 16px;
    left: -100%;
    margin: -9px 0 0 -9px;
    position: absolute;
    width: 16px;
    top: -100%;
}

.player-position-rttr {
    background: rgb(192, 180, 96);
    opacity: 0.5;
}



.generator-compatibility {

}

.generator-compatibility__title {
    font-size: 1.125em;
    font-weight: bold;
    margin: 0.25em;
}

.generator-compatibility__description {
    background: #fff;
    border: 1px solid #222;
    font-size: smaller;
    opacity: 0;
    margin: 0;
    padding: 1px 1em;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    position: absolute;
    -webkit-transition: z-index 0s linear 0.5s,
        opacity 0.125s ease-in-out 0.01s;
    transition: z-index 0s linear 0.5s,
        opacity 0.125s ease-in-out 0.01s;
    width: 25em;
    z-index: -1;
}

.generator-compatibility__title:hover + .generator-compatibility__description {
    opacity: 1;
    -webkit-transition: z-index 0s linear 0s,
        opacity 0.25s ease-in-out 0.01s;
    transition: z-index 0s linear 0s,
        opacity 0.25s ease-in-out 0.01s;
    z-index: 1;
}

.generator-statistics {
    background: #fffcf6;
    border: 1px solid #464;
    padding: 0.5em;
    width: 12em;
}

.generator-statistics dt {
    clear: left;
    float: left;
    width: 8em;
}

.generator-statistics dd {
    margin: 0;
    vertical-align: top;
}

.inc-dec {
    border: 1px solid #464;
    display: inline-block;
    line-height: 0.1;
}

.inc-dec__decrease,
.inc-dec__increase {
    background: #464;
    border: 0;
    color: #EEE;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    vertical-align: center;
    width: 2em;
}

.inc-dec__input {
    border: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: center;
    width: 3em;
}

.settlers2-map-title {
    background: transparent;
    border: 1px dotted transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 2em;
    font-weight: bold;
    outline: none;
    width: 100%;
}

.settlers2-map-title:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.settlers2-map-title:focus {
    background-color: #fffcf6;
    border-color: #464;
}

.seed-options {
    border: 1px solid #464;
    float: left;
    list-style: none;
    margin: 0 1em;
    padding: 0;
}

.seed-options > li {
    background: #fffcf6;
    margin: 2px;
    padding: 2px;
}